* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html{
    font-family: "Poppins", sans-serif;
}

.col-3{
    width: 33.3333%;
}

.col-4{
    width: 25%;
}

.col-half{
    width: 50%;
}
.row {
    padding-top: 48px;
    padding-bottom: 48px;
}

.col {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
}

@keyframes madalFaceIn{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* Mobile: width < 740px */


/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    body{
        
    }
}

